node_modules
.git
*.md
.github
.husky
.turbo
.vscode
packages/opencode/dist
packages/app
packages/desktop
packages/docs
packages/web
packages/containers
packages/console
packages/enterprise
packages/extensions
packages/function
packages/identity
packages/slack
packages/ui
sdks
github
