node_modules
.git
*.md
.github
.husky
.turbo
.vscode
packages/opencode/dist
packages/app
!packages/app/package.json
packages/desktop
!packages/desktop/package.json
packages/docs
packages/web
!packages/web/package.json
packages/containers
packages/console
!packages/console/package.json
packages/enterprise
!packages/enterprise/package.json
packages/extensions
packages/function
!packages/function/package.json
packages/identity
!packages/identity/package.json
packages/slack
!packages/slack/package.json
packages/ui
!packages/ui/package.json
sdks
github
